DATABASE_URL="DATABASE_CONNECTION_STRING"
NODE_ENV=""
PORT=
JWT_SECRET=""
BASTION_ADMIN_EMAIL=
BASTION_ADMIN_NAME=
BASTION_ADMIN_PASSWORD=
AUTH_SESSION_TTL_MS=
ENCRYPTION_KEY=
TRUST_PROXY=     # Default to false, can be 1, 2, loopback or specific IP/CIDR string, e.g. "10.0.0.5" or "10.0.0.0/24" 